@import url("./grid.css");
@import url("./spacing.css");

#app {
  margin: 0 auto;
}

.border-dashed {
  border: 1px dashed #ccc;
}

.empty-placeholder {
  border: 1px dashed #ccc;
  padding: 5px;
  text-align: center;
  position: relative;
  height: 15px;
}

.empty-placeholder::after {
  content: "Empty";
  color: #999;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Element highlight */
.element-highlight {
  position: relative!important;
}

.element-highlight::before {
  z-index: 1;
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 0 0 1px #3498db;
  background-color: #3498db2b;
  pointer-events: none;
  border-radius: inherit;
}